<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <title>e-Xhibyte | Admin</title>
</head>
<body>
    <div class="admin-background"></div>
        <div class="admin-box">
            <h1>Admin Panel</h1>
            <br/>
            <a href='/polisaanam/admin' class="adm-button">Add as Admin</a> <br/><br/><br/>
            <a href="/polisaanam/active" class="adm-button">Remove Inactive users</a> <br />
        </div>
</body>
</html>