<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>e-Xhibyte | About</title>
</head>

<body>
    <div class="nav-bar">
    
        <div class="logo">
            <a href="/"><h1>e-Xhibyte</h1></a>
            <h6><i>Host your dream from your device.</i></h6>
        </div>
        
        <div class="login-signup">
            <a href="/register"><button class="signup">Sign Up</button></a>
            <a href="/login"><button class="login">Login</button></a>
        </div>
    </div>
    
    <div class="content">
        <div class="description">
            <ul>
                <center>
                <li><h2>New to e-Xhibyte ?</h2></li><br/>
                <li><a href="/register">Create Account</a></li>
                <li>Confirm your Email-ID using the link we send to your email id</li>
                <li><a href="/login">Log In</a></li>
                <li>Visit the Exhibitions from your device</li>
                <li>Contribute to Exhibitions</li>
                <li>Create Your own Exhibitions and invite contributers</li>
                <li>Share your experience with e-Xhybyte with your friends !</li>
                <li>Stay Home ! Stay safe !</li><br/>
                <li><a href="/">Back to Home Page</a></li>
                </center>
            </ul>
        </div>
    </div>
    
    <div class="footer">
        <p id="copyright">Copyright &copy; 2020 | Anoroc</p>
    </div>
    
</body>

</html>
