<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>e-Xhibyte | Book Fair</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <h1>e-Xhibyte</h1>
            <h6><i>Host your dream from your device.</i></h6>
        </div>
        <div class="nav">
            <a href="./profile.html">Profile</a>
            <span>|</span>   
            <a href="./feedlist.html">News Feed</a>
        </div>
    </div>

    <div class="content-news">
        <h1>News Feed</h1>
        <div class="news-section-header">         
            <div class="book-fair-section active">
                <h3><a href="./bookfair.html">Book Fair</a></h3>
            </div>
        </div>
        <div class="news-items">
            <div class="news-item">
                <div class="item-img">
                    <img src="../assets/img/news-item-img.jpg" alt="">
                </div>
                <div class="item-text">
                    <div class="event-name">
                        <h2>Book Fair</h2>
                    </div>
                    <div class="event-place">
                        <p>Kozhikode</p>
                    </div>
                    <div class="event-duration">
                        <p><strong>From:</strong> 15 April 2020</p>
                        <p><strong>To:</strong> 5 May 2020</p>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div class="status-url-wrapper">
                        <div class="status">
                            <ul class="live">
                                <li>Live Now</li> 
                            </ul>
                        </div>
                        <div class="web-url">
                            <a href="#">VISIT</a>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="news-item">
                <div class="item-img">
                    <img src="../assets/img/news-item-img.jpg" alt="">
                </div>
                <div class="item-text">
                    <div class="event-name">
                        <h2>Book Fair</h2>
                    </div>
                    <div class="event-place">
                        <p>Kozhikode</p>
                    </div>
                    <div class="event-duration">
                        <p><strong>From:</strong> 15 April 2020</p>
                        <p><strong>To:</strong> 5 May 2020</p>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div class="status-url-wrapper">
                        <div class="status">
                            <ul class="upcoming">
                                <li>Upcoming</li> 
                            </ul>
                        </div>
                        <div class="web-url">
                            <a href="#">CONTRIBUTE</a>
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="news-item">
                <div class="item-img">
                    <img src="../assets/img/news-item-img.jpg" alt="">
                </div>
                <div class="item-text">
                    <div class="event-name">
                        <h2>Book Fair</h2>
                    </div>
                    <div class="event-place">
                        <p>Kozhikode</p>
                    </div>
                    <div class="event-duration">
                        <p><strong>From:</strong> 15 April 2020</p>
                        <p><strong>To:</strong> 5 May 2020</p>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div class="status-url-wrapper">
                        <div class="status">
                            <ul class="past">
                                <li>Past Event</li> 
                            </ul>
                        </div>
                        <div class="web-url-past">
                            <p onclick="disabled()">VISIT</p>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
    
    
    </div>
    <div class="footer">
        <p id="copyright">Copyright &copy; 2020 | Anoroc</p>
    </div>
</body>

<script>
    function disabled() {
        var message = "The Book Fair You wish to Visit is Over!";
        alert(message);
    }
</script>
</html>


