<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>e-Xhibyte | Account Confirmed</title>
</head>
<body>
    <div class="thanku">
    <center color='darkmagenta'><h1>Account creation successful.</h1></center>
    <br/><br/>
    <a href="/"><center><p>e-Xhibyte</p></center></a>
    </div>
</body>
</html>