<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>e-Xhibyte | News Feed</title>
  </head>
  <body>
    <div class="nav-bar">
      <div class="logo">
        <h1>e-Xhibyte</h1>
        <h6><i>Host your dream from your device.</i></h6>
      </div>
      <div class="nav">
        <a href="./profile.html">Profile</a>
        <span>|</span>
        <a href="./feedlist.html">News Feed</a>
      </div>
    </div>

    <div class="content-news">
      <h1>News Feed</h1>
      <div class="feed-container">
        <div class="feed-items">
          <a href="./exhibition.html">
            <div class="feed-item">
              <img src="../assets/img/exhibition-img.jpg" alt="" />
              <h2>Exhibitions</h2>
            </div>
          </a>
          <a href="./bookfair.html">
            <div class="feed-item">
              <img src="../assets/img/bookfair-img.jpg" alt="" />
              <h2>Book Fairs</h2>
            </div>
          </a>
          <a href="#">
            <div class="feed-item">
              <img src="../assets/img/paintingexhibition-img.jpg" alt="" />
              <h2>Painting<br />Exhibitions</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="footer">
      <p id="copyright">Copyright &copy; 2020 | Anoroc</p>
    </div>
  </body>
</html>
