<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>e-Xhibyte | Login</title>
</head>
<body>
    <div class="login-background"></div>
    <div class="login-box">
        <div class="login-header">
            <h1>Login</h1>
        </div>
        <br/>
        <div class="login-info">
            <form action="/login" method="POST">
                <p>Username:</p>
                <input type="text" name="username" placeholder="Enter Username">                
                <p>Password:</p> 
                <input type="password" name="password" placeholder="Enter Password" id="spass"> 
                <i id="ic3" class="fas far fa-eye-slash" onclick="spass()"></i>
                <input type="submit" name="submit" value="Login">
                <br/>
            </form>
            <a href="/forget">Forgot Password?</a><br />
            <a href="/register">Don't have an account?</a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/d2a549144d.js" crossorigin="anonymous"></script>
    <script src="../assets/js/app.js"></script>
</body>
</html>