<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>e-Xhibyte | Verfication</title>
</head>
<body>
    <div class="otp-background"></div>
    <div class="otp-box">
        <div class="otp-header">
            <h1>Verification</h1>
        </div>
        <div class="otp-info">
            <p>Enter the 6-digit OTP sent to your mail provided.</p>
            <form action="#">
                <p>OTP :</p>
                <input type="text" placeholder="Enter OTP">
                <br/><br/>
                <input type="submit" value="Submit">
            </form>   
        </div>
    </div>    
</body>
</html>