<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>e-Xhibyte | Password Reset</title>
</head>
<body>
    <div class="passreset-background"></div>  
    <div class="passreset-box">
        <div class="passreset-header">
            <h1>Password Reset</h1>
        </div>
        <div class="passreset-info">
            <form action="" method="POST">
                <p>New Password :</p>
                <input type="password" name="password" placeholder="New Password">
                <p>Confirm Password :</p>
                <input type="password" name="confpassword" placeholder="Confirm Password">
                <br/><br/>
                <input type="submit" value="Change Password">
                <a href="/login">Login</a>
            </form>
        </div>
    </div>
</body>
</html>