<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>e-Xhibyte | Product Exhibition</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <a href="/"><h1>e-Xhibyte</h1></a>
            <h6><i>Host your dream from your device.</i></h6>
        </div>
        <div class="nav">
            <a href="/productExb/add">New Product Exhibition</a>
            <span>|</span>
            <a href="/profile">Profile</a>
            <span>|</span>   
            <a href="/home">Home</a>
        </div>
    </div>

    <div class="content-news">
        <h1>News Feed</h1>
        <div class="news-section-header">
            <div class="exhibition-section active">
                <h3><a href="#">Product Exhibitons</a></h3>
            </div>
        </div>
        <div class="news-items">
            <% userList.map(users => { %>
            <% users.productExb.map(fairs => { %>
                    <div class="news-item">
                        <div class="item-img">
                            <img src="../assets/img/news-item-img.jpg" alt="">
                        </div>
                        <div class="item-text">
                            <div class="event-name">
                                <h2><%= fairs.name %></h2>
                            </div>
                            <div class="event-place">
                                <p><%= fairs.location %></p>
                            </div>
                            <div class="event-duration">
                                <p><strong>From:</strong> <%= fairs.startDate %></p>
                                <p><strong>To:</strong> <%= fairs.endDate %></p>
                            </div>
                            <br/>
                            <br/>
                            <br/>
                            <div class="status-url-wrapper">
                                <div class="status">
                                    <ul class="live">
                                        <li>Live Now</li> 
                                    </ul>
                                </div>
                                <div class="web-url">
                                    <a href="#">VISIT</a>
                                </div>
                            </div>                   
                        </div>
                    </div>
                    <% }) %>
                    <% }) %>
        </div>
    </div>
    
    
    </div>
    <div class="footer">
        <p id="copyright">Copyright &copy; 2020 | Anoroc</p>
    </div>
</body>

<script>
    function disabled() {
        var message = "The Exhibition You wish to Visit is Over!";
        alert(message);
    }
</script>
</html>